$primary : #FE2B00;
$error : #ED4F4F;
$success : #ffc107;
$secondary : #222;
$text : #3D3D3D;
$black : #060606;
$dark : #D0D0D3;
$middleMarge : 40px;
$bigMarge : 140px;
$littleMarge : 20px;
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body {
    background: #EFF2F5 !important;
   font-family: 'Lato', sans-serif;
  }
  .navbar-light .navbar-brand {
    color: rgba(0,0,0,.5);
    font-size: 17px;
}
  .home-page {
    padding-top: $middleMarge;
    h3 {
        text-transform: uppercase;
        font-weight: 400;

    }
  }
  .picto-work {
    padding-top: $middleMarge;
    h5 {    
        text-transform : uppercase;
        font-weight: 400;
    }
  }

  .btn-zot {
    background : $primary;
    padding: 10px;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    height: 45px;
    cursor: pointer;
    color: white;
     &:hover{
        text-decoration: none;
        color: white;
      }
    a {
      color : white;
      &:hover{
        text-decoration: none;
        color: white;
      }
    }
    svg {
      margin: 2px 5px;
    }
  }
  .user-comment-home {
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid $primary;
  }
  .image-user {
    height: 120px;
    border-radius: 60px;
    position: absolute;
    top: -29%;
    right: 25%;
    border: 2px solid white;
  }
  .comment {
    background: white;
    margin-top: 120px;
    position: relative;  
    padding: 60px 10px 10px 10px;
    -webkit-box-shadow:  9px 10px 4px -8px #BFBFBF;
    -moz-box-shadow:  9px 10px 4px -8px #BFBFBF;
    box-shadow: 9px 10px 4px -8px #BFBFBF;

    p{
        color :$text;
    }
    h6 {
        margin-top: 20px;
        color : $black;
    }
  }
  .picto {
    height: 60px;
  
  }
  .note {
    height: 26px;
    margin : 5px;
  }
  .menu-home {
      padding-top:60px;
      margin-top: -30px;
      h3 {
        margin-bottom: $middleMarge;
      }
  }
  .menu-title {
    margin-top: $middleMarge;
  }
  .menu-card {
    margin-top: 150px;
    position: relative;
    margin-bottom: 120px;
    .img-menu {
      height: 250px;
      width: 400px;
      position: absolute;
      top: -70%;
      left: 7%;
      z-index: -3;
      border: 2px solid white;
      -webkit-box-shadow:  9px 10px 4px -8px #BFBFBF;
      -moz-box-shadow:  9px 10px 4px -8px #BFBFBF;
      box-shadow: 9px 10px 4px -8px #BFBFBF;
    }
    .descriptive {
      padding: 20px;
      z-index: 2;
      border-radius: 10px;
      background: white;
      width: 70%;
      margin: 0 auto;
      text-align: center;

      h5{
        color : $primary;
      }
      p {
        em {
          color : $primary;
        }
        strong {
          color : $black
        }
      }
    }
  }
  .modal-title{
    color : $primary;
  }
  .modal-body {
    text-align: center;
    h5{
      color : $black;
    }
    p{
      color : $text;
    }

    .separator{
      height: 1.5px;
      width: 18%;
      margin: 0 auto;
      background : $text;
      margin-top: $middleMarge;
      margin-bottom: $middleMarge;
    }
   }
  .profil-user {
   margin-top: $middleMarge;
   margin-bottom: $middleMarge;
   h2 {
     margin-bottom: $middleMarge;
     text-transform: uppercase;
     font-size: 22px;
   }
   h3 {
     margin-bottom: $middleMarge;
   }
  
   .reservation-card {
     background: white;
     margin: 0 auto;
     border-radius: 6px;
     padding: 15px;
     -webkit-box-shadow: 0 4px 13px -4px #777;
     -moz-box-shadow: 0 4px 13px -4px #777;
          box-shadow: 0 4px 13px -4px #777;
    margin-bottom: $littleMarge;
     .details {
       color : #0084FF;
       cursor: pointer;
     }
     h5,p{
       text-align: center;
     }
   }
   .comment-form {
     label {
      display: block;
      text-align: center;
      color: $text;
     }
     .infoLength {
      position: absolute;
      right: 17%;
      bottom: 45%;
     }
     textarea {
       width: 70%;
       height: 90px;
       resize: none;
       margin: 0 auto;
     }
     select {
       width: 10%;
       margin: 0 auto;
           }
   }
   
  }
  .selector-control {
  padding-bottom: $littleMarge;
  display: flex;
  }
  .calendar-cooker {
    button {
      margin-top: $littleMarge;
    }
    h4 {
      text-align: center;
      text-transform: uppercase;
    }
    .calendar {
      display: flex;
      button {
        margin: 0 0 0 20px;
      }
    }
    .table {
     th{
      font-size: 14px;
     } 
     td{
       font-size: 10px;
     }
    }
  }
  .user-card-form {
    width: 100%;
    margin-bottom: $middleMarge;
    background: white;
    padding: $littleMarge;
    position: relative;
    .image-content {
      display: flex;
    }
    .image-user {
      position: relative;
      top: 0;
      right: 0;
      margin: 20px;
      border-radius: 190px;
    }
    .picture {
      margin : 40px 0 0 20px;
      width: 52px;
      height: 52px;
      cursor: pointer;
      position: absolute;
      top: -2%;
      left: 31%;
      svg {
        font-size : 30px;
        color : $success;
      }
    }
    .picture-file {
      display: none;
    }
  }
  #footer {
    background: $secondary;
    height: 100px;
    width: 100%;
  }
  .menus-list {
    padding-top: $bigMarge;
  }
  #menu-page{
    h3 {
      text-transform: uppercase;
      margin-top: $middleMarge;
    }
    .type-cook {
      padding: 20px 20px 20px 20px;
      border: 2px solid $primary;
      border-radius: 6px;
      margin-top: $middleMarge;
      h3 {
        text-align: center;
        color : $primary;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 20px;
      }
    }
  }
  .menu-cooker-admin {
    .admin-card {
      background : white;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 40px;
      -webkit-box-shadow:0 2px 5px -2px #ACACAC;
      -moz-box-shadow: 0 2px 5px -2px #ACACAC;
           box-shadow: 0 2px 5px -2px #ACACAC;
      img {
        height: 200px;
        width: 100%;
      }
      h5 {
        text-align: center;
        margin-top: $littleMarge;
      }
      em {
        color : $primary;
      }
      .content {
        margin-top: $littleMarge;
        display: flex;
        justify-content: space-around;
        .update,.remove {
          border: none;
          padding: 5px 10px 5px 10px;
          border-radius: 6px;
          color: white;
          width: 95px;
          cursor: pointer;
        }
        .update {
          background: $success;
        }
        .remove {
          background: $primary;
        }
      }
    }
  }
  //////// CHECKBOX ///////

.container-check {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
  background-color: $primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/////// FROM CONNEXION //////
#connect {
  padding: 30px;
  .title-card {
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
  }
  .login {
    border: 2px solid $primary;
    padding: 20px;
    border-radius: 10px;
  }
  .col-lg-2 {
    position: relative;
    .separator {
      height : 350px;
      width: 1px;
      background:$dark;
      position: absolute;
      left: 50%;
      top: 10%;
    }
  }
  
 
}
.btn-submit {
  background: $primary;
  padding: 10px;
  border: none;
  border-radius :10px;
  color: white;
  text-align: center;
  cursor: pointer;
}
.modal-title {
    h5{
      margin: 0 auto;
    }
}
.modal-body {
  p {
    margin: 0;
  }
}
#chef-page {
  padding: $bigMarge 10px;
  .card-cooker {
    position: relative;
    background: white;
    padding : 110px 20px 20px 20px;
    .img-cooker {
      position:absolute;
      border-radius: 160px;
      height: 200px;
      top: -19%;
      left:26%;
    }
    h5 {
      text-align :center;
      color : $primary;
    }
    .type {
      color : $primary;
    }
  
}
.menu-card{
  margin-top: 150px;
 }
.img-menu {
  height: 200px;
  top : -90%;
  left: 5%;
  width: 400px;
 } 
}
.comment-content {
  padding: 20px;
  border: 1px solid $primary;
  border-radius: 10px;
  margin-top: 40px;
  h6 {
    color : $primary;
  }
  .comment {
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
  }
}
.btn-more {
  border: none;
  color: orange;
  background: none;
  padding-top: 30px;
  &:focus {
    outline: none;
  }
}
#menu-selected {
  padding-top: $middleMarge;
  padding-bottom: $middleMarge;
  .menu {
    margin-top: $middleMarge;
    .detail {
      width: 80%;
      height : auto;
      margin: 0 auto;
      background: white;
      padding: 20px;
      position: relative;
      margin-top: 290px;
      .img-selected {
        position: absolute;
        height: 360px;
        width: 120%;
        left: -10%;
        z-index: -1;
        top: -44%;
        border: 4px solid white;
      }
      h3 {
        color: $primary;
        text-align: center;
      }
      h4 {
        text-align: center;
        color : $black;
        margin-top: $middleMarge;
      }
      p {
        text-align: center;
        color : $text;
      }
      strong {
        color : $primary;
      }
    }
    .cooker {
      display: flex;
      width: 80%;
      height : auto;
      margin: 0 auto;
      background:white;
      padding: $littleMarge;
      border-top: 1px solid $dark;
      div {
        margin: 10px 0px 0px 20px;
      }
      .image-cooker {
        height: 90px;
      }
    }
    .comment-content {
      width: 80%;
      height : auto;
      margin: 0 auto;
      margin-top: $middleMarge;
      .comment {
        padding: 20px;
        display: flex;
      div {
        margin-left: 20px;
      }
        .img-user {
          height: 90px;
          border-radius: 90px;
        }
      }
    }
  }
  .reservation {
    margin-top: 75px;
    .header {
      padding: 18px 0px 6px 15px;
      background : #222;
      border-bottom: 1px solid #111;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      h5 {
        color : white;
        text-transform: uppercase;
      }
    }
    .info {
      text-align: center;
      color : $success !important;
      font-size: 12px;
      font-style: italic;
    }
    .choice-guess {
      padding: $littleMarge;
      background: #222;
      height: auto;
      width: 100%;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      p {
        color : white;
      }
      strong {
        color : $primary;
        font-size: 18px;
      }
      .guest,.price,.total-price,.calendar {
        display: flex;
        justify-content: space-between;
        margin-bottom: $littleMarge;
      }
      
      .total-price {
        display: flex;
        justify-content :space-between;
        margin-bottom: $littleMarge;
      }
      .date-info {
        text-align: center;
        color : $primary;
      }
    }
  }

}
.form-menu {
  width : 80%;
  background: white;
  padding: 40px;
  margin: 0 auto;
  .choice-type {
    cursor: pointer;
    margin: 20px 0 40px;
    svg {
      margin: 1px 4px -2px;
    }
  }
  .preview-menu {
    height: 200px;
  }
  input {
    height: 40px;
  }
  textarea {
    resize: none;
  }
  .menu-price {
    display: flex;
    justify-content : space-between;
    .draft-menu {
      margin-top: $middleMarge;
    }
  }
}

.user-not-find {
  border: 10px solid $error;
  height : 400px;
  width: 70%;
  margin: 0 auto;
  margin-top: $middleMarge;
  margin-bottom: $middleMarge;
  padding-top: 11%;
  h3 {
    text-align: center;
    color :$error;
    vertical-align: middle;
  }
}